/*--气球背景的登录页面--*/
html{
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height:630px; 
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;overflow-x: hidden;
	background: #f5f5f5 !important;
}

 
.boxCon{
	width: 1280px;
	min-height: 696px;
	/*background: url(../images/new/loginBg.jpg) top center no-repeat;*/
	margin: 0 auto;
}
 
.boxCon1{
	width: 1280px;
	min-height: 696px;
	/*background: url(../images/new/loginBg1.jpg) top center no-repeat;*/
	margin: 0 auto;
}

.loginMain{
	width: 640px;
 
    min-height: 500px;
     left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -250px;
    position: absolute;
}

 
input[type=text]:focus, input[type=password]:focus,input[type=password]:active,input[type=text]:active{
 	 box-shadow:1px 0px 8px #ff6c00;outline: none;border: none;
 	-webkit-box-shadow:1px 0px 8px #ff6c00;
 	 -moz-box-shadow:1px 0px 8px #ff6c00;
 	 -o-box-shadow:1px 0px 8px #ff6c00;
 	 -ms-box-shadow:1px 0px 8px #ff6c00;
  }

.loginBox1 {
   
    border: 1px solid #d8d6e1;
    background: #fff;
    border-radius: 6px;
    /* float: left; */
    /* margin: 128px 0px 0px 780px; */
 	overflow: hidden;
   -moz-box-shadow:1px 0px 8px #333333; -webkit-box-shadow:1px 0px 8px #333333; box-shadow:1px 0px 8px #333333;
    padding-bottom: 25px;
    padding-top: 30px;
}
.loginBox1 .logo img{
	margin:0px !important;
}.loginBox1 .logo{
	    width: 363px;
    margin: 0px auto;
    text-align: center;
}
.loginBox1 .noticemsg{
	width: 100%;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	/*padding-left: 35px;*/
	margin-bottom: 5px;
	color: #db8a83;
}

.loginBox1 .qynoticemsg{
	width: 100%;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	/*padding-left: 35px;*/
	margin-bottom: 5px;
	color: #db8a83;
}

.loginBox1 .login-content {
    width: 363px;
   
    margin: 0px auto;
}
.loginBox1 .qylogin-content {
	width: 363px;
	 margin: 0px auto;
	display: none;
}
.loginBox1 .usernameBox,.loginBox1  .passwordBox{
	width: 360px !important;
	float: left;
	position: relative;
}	
/*小图标*/
.loginBox1 .glyphicon {
	position: absolute;
	top: 20px;
	left: 14px;
	color: #b9b9b9;
}

.loginBox1 h2{margin: 0; padding: 0; color: #737373; font-size:26px;text-align: center;margin-top: 20px;}
.loginBox1 .usernameBox input,.passwordBox input{
	 
	height: 54px;
	line-height: normal;
	line-height: 54px\9;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 2px;
	padding-left: 47px;
	border-radius: 5px;font-size: 16px; color: #8C8C8C;
}
.loginBox1 .login-content em{
	width: 3px;
	height: 32px;
	display: inline-block;
	background: url(../images/new/line.png) top center no-repeat;
	position: absolute;
	left: 37px;
	top: 11px;
}
.loginBox1 .qylogin-content em{
	width: 3px;
	height: 32px;
	display: inline-block;
	background: url(../images/new/line.png) top center no-repeat;
	position: absolute;
	left: 37px;
	top: 11px;
}
.loginBox1 .checkbox{
	+width: 358px;
	margin-top: 0px;
}
.loginBox1 .checkbox input[type=checkbox]{
	+margin-top: 0px;
}
.loginBox1 .checkbox label{
	margin: 0px 0px 0px 5px;
	color: #8c8c8c;
}
@-moz-document url-prefix(){.checkbox label input{margin-top: 2px;}}
.loginBox1 .checkbox span{
	    margin-right: 5px;
	display:inline-block;
	+margin-top: -20px;
}
.loginBox1 .checkbox span a{
	color:#ff7800;
	text-decoration: underline;	
}
/*--登录按钮--*/
.loginBox1 .loginBtn{
	width:358px;
	height: 56px;
	line-height: 56px;
	border: 1px solid #fe7a00;
	background: #fe7a00;
	text-align: center;
	padding: 0px;
	color: #fff;font-size: 20px;
}
.loginBox1 .loginBtn:hover,.loginBtn:focus{
	color: #fff;
}
 
.loginBox1 .reminderDiv a{
	color: #ff7800;
	font-size: 16px;text-decoration: none;
}
/*--- 用户名密码输入错误的样式---*/
.loginBox1 .help-block{
	/*display: none;*/
	margin-bottom: 0px;
}
/*登录表单验证*/
#loginFrm .error{
	border-color: #c !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
#loginFrm .error:focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
 
input.error::-webkit-input-placeholder { /* WebKit browsers */
color:#db8a83;
}
input.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#db8a83;
}
input.error::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#db8a83;
}
input.error:-ms-input-placeholder { /* Internet Explorer 10+ */
color:#db8a83;
}

 

.change-box{
    width: 360px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #949494;
    font-family: "Microsoft YaHei","微软雅黑";
    color: #8c8c8c;
    margin-top: 20px;
}

.change-box .personal-login{
	width: 50%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: 1px;
	float: left;
	cursor: pointer;
}

.change-box .enterprise-login{
	width: 50%;
	height: 100%;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: 1px;
	float: left;
	cursor: pointer;
}

.changed{
	border-bottom: 3px solid #Ff7800;
	color: #Ff7800;
}

#qy-loginFrm{
	/*display: none;*/
}

 
.form-group.qy-notice{
	text-align: center;
	color: #949494;
	font-size: 12px;margin-bottom: 0px !important;
}

.qy-notice p{
	margin-bottom: 5px;
}
.copyrights{ text-align: center; width: 640px; margin-top: 30px;margin-bottom: 30px;color: #8C8C8C; font-size: 16px;}


 

 
 
@media (max-height: 687px) {
    .squan {
        height: 18%;
    }
}

@media (max-height: 631px) {
    .squan {
        height: 22%;
    }
}

@media (min-height: 700px) {
    .squan {
        height: 26%;
    }
}
@media (min-height: 800px) {
    .squan {
        height: 38%;
    }
}
@media (min-height: 900px) {
    .squan {
        height: 42%;
    }
}
@media (min-height: 950px) {
    .squan {
        height: 45%;
    }
}
.newuseryd .slid_down{
    -webkit-animation: fiTon .6s 1 linear;
    animation: fiTon .6s 1 linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards	
}

@-webkit-keyframes fiTon {
	
    0% {
        height: 0%;
    }
	
    100% {
		height: 50%;
		top: 0px;
    }
}

@keyframes fiTon {
    0% {
		height: 0%;
    }

    100% {
		height: 50%;
		top: 0px;
    }
}

