<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.web.db.dao.TMenuMapper" >
  <resultMap id="BaseResultMap" type="com.zm.web.db.model.TMenu" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="parendIds" property="parendids" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="href" property="href" jdbcType="VARCHAR" />
    <result column="isShow" property="isshow" jdbcType="INTEGER" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="seat" property="seat" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="order_menu" property="orderMenu" jdbcType="INTEGER" />
    <result column="attr1" property="attr1" jdbcType="VARCHAR" />
    <result column="attr2" property="attr2" jdbcType="VARCHAR" />
    <result column="attr3" property="attr3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, parendIds, name, href, isShow, permission, seat, target, order_menu, attr1, attr2, 
    attr3
  </sql>
  
  
 	<select id="selectMenuByUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_menu t where t.ID in(select tt.menu_id from t_role_menu tt
		where tt.role_id in (select tur.role_id from t_user_role tur where
		tur.user_id = #{userId})) order by id asc,order_menu asc
	</select>
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_menu
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_menu
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zm.web.db.model.TMenu" >
    insert into t_menu (ID, parendIds, name, 
      href, isShow, permission, 
      seat, target, order_menu, 
      attr1, attr2, attr3
      )
    values (#{id,jdbcType=VARCHAR}, #{parendids,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{href,jdbcType=VARCHAR}, #{isshow,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR}, 
      #{seat,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{orderMenu,jdbcType=INTEGER}, 
      #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, #{attr3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zm.web.db.model.TMenu" >
    insert into t_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parendids != null" >
        parendIds,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="href != null" >
        href,
      </if>
      <if test="isshow != null" >
        isShow,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="seat != null" >
        seat,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="orderMenu != null" >
        order_menu,
      </if>
      <if test="attr1 != null" >
        attr1,
      </if>
      <if test="attr2 != null" >
        attr2,
      </if>
      <if test="attr3 != null" >
        attr3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parendids != null" >
        #{parendids,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        #{href,jdbcType=VARCHAR},
      </if>
      <if test="isshow != null" >
        #{isshow,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="seat != null" >
        #{seat,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="orderMenu != null" >
        #{orderMenu,jdbcType=INTEGER},
      </if>
      <if test="attr1 != null" >
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null" >
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null" >
        #{attr3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zm.web.db.model.TMenu" >
    update t_menu
    <set >
      <if test="parendids != null" >
        parendIds = #{parendids,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="href != null" >
        href = #{href,jdbcType=VARCHAR},
      </if>
      <if test="isshow != null" >
        isShow = #{isshow,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="seat != null" >
        seat = #{seat,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="orderMenu != null" >
        order_menu = #{orderMenu,jdbcType=INTEGER},
      </if>
      <if test="attr1 != null" >
        attr1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null" >
        attr2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null" >
        attr3 = #{attr3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zm.web.db.model.TMenu" >
    update t_menu
    set parendIds = #{parendids,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      href = #{href,jdbcType=VARCHAR},
      isShow = #{isshow,jdbcType=INTEGER},
      permission = #{permission,jdbcType=VARCHAR},
      seat = #{seat,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      order_menu = #{orderMenu,jdbcType=INTEGER},
      attr1 = #{attr1,jdbcType=VARCHAR},
      attr2 = #{attr2,jdbcType=VARCHAR},
      attr3 = #{attr3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>