<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.web.db.dao.TUserMapper">
	<resultMap id="BaseResultMap" type="com.zm.web.db.model.TUser">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="code_data" property="codeData" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_name, password, status, code_data
	</sql>



	<select id="selectByUserName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
		<where>
			<if test=" null != userName and '' != userName">
				and user_name = #{userName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>



	<select id="selectByUserPage" resultMap="BaseResultMap"
		parameterType="com.zm.web.configuration.mybatis.Page">
		select
		<include refid="Base_Column_List" />
		from t_user
		<where>
			<if test=" null != userName and '' != userName">
				and user_name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by user_name DESC
	</select>

	<select id="selectRoleUser" resultMap="BaseResultMap">
		select  <include refid="Base_Column_List" />
		from t_user where id in(select user_id from t_user_role where role_id=#{roleId,jdbcType=VARCHAR})
	</select>



	
	<select id="selectUserByRoleAndCodeDataPage" resultMap="BaseResultMap"
		parameterType="com.zm.web.configuration.mybatis.Page">
		select  <include refid="Base_Column_List" />
		from t_user where id in( select user_id from t_user_role where role_id=#{roleId,jdbcType=VARCHAR}) and  code_data like  CONCAT(#{codeData,jdbcType=VARCHAR},'%')
		<if test=" null != userName and '' != userName">
			and user_name like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
		</if>
	</select>





	<select id="selectCountByCodeData"  resultType="int">
		select count(1)  
		from t_user where code_data = #{codeData,jdbcType=VARCHAR}
	</select>



	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_user
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.zm.web.db.model.TUser">
		insert into t_user (id, user_name, password,
		status, code_data)
		values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR}, #{codeData,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zm.web.db.model.TUser">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="codeData != null">
				code_data,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="codeData != null">
				#{codeData,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zm.web.db.model.TUser">
		update t_user
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="codeData != null">
				code_data = #{codeData,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zm.web.db.model.TUser">
		update t_user
		set user_name = #{userName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		status = #{status,jdbcType=CHAR},
		code_data = #{codeData,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>