<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.web.db.dao.WorkTUserInfoMapper">

     <!-- Cache 配置 mybatis  -->
    <cache
        eviction="FIFO"
        flushInterval="60000"
        size="512"
        readOnly="true" />

	<resultMap id="BaseResultMap" type="com.zm.web.db.model.WorkTUserInfo">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
		<result column="LOGIN_PASSWORD" property="loginPassword" jdbcType="VARCHAR" />
		<result column="ENABLE_STATUS" property="enableStatus" jdbcType="VARCHAR" />
		<result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
		<result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="LAST_UPDATE_USER" property="lastUpdateUser" jdbcType="VARCHAR" />
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP" />
		<result column="VERSION" property="version" jdbcType="DECIMAL" />
		<result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
		<result column="SCHOOL_ID" property="schoolId" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.zm.web.db.model.WorkTUserInfo" extends="BaseResultMap">
		<result column="MEMO" property="memo" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, LOGIN_NAME, LOGIN_PASSWORD, ENABLE_STATUS,
		RECORD_STATUS,
		CREATE_USER, CREATE_DATE,
		LAST_UPDATE_USER,
		LAST_UPDATE_DATE, VERSION, ROLE_ID, SCHOOL_ID, USER_NAME, USER_EMAIL,
		MOBILE,
		USER_TYPE
	</sql>
	<sql id="Blob_Column_List">
		MEMO
	</sql>

	<select id="findPageWorkTUserInfo" resultMap="ResultMapWithBLOBs" parameterType="com.zm.web.configuration.mybatis.Page">
		select *
		from work_t_user_info where ID =
		#{userId,jdbcType=VARCHAR}
	</select>

	<!-- 2017.0306 mybatis 测试条件 -->
	<select id="findPageTempCase" resultMap="ResultMapWithBLOBs" parameterType="com.zm.web.configuration.mybatis.Page">
		select *
		from work_t_user_info
		<where>
			<if test="  userId  !=''  and userId !=null ">
				AND id=#{userId,jdbcType=VARCHAR}
			</if>
			<if test=' userId == "1" '>
				AND ENABLE_STATUS='启用'
			</if>
		</where>
	</select>
	<!-- 2017.0306 mybatis 测试条件 -->


	<!-- 2017.0308 mybatis 测试条件 -->
	<select id="selectMapByOper" resultType="java.util.Map">
		SELECT CAI.ID AS ID,SI.STUDENT_NAME AS studentId
		FROM WORK_T_CLASSES_APPLY_INFO CAI
		INNER JOIN WORK_T_STUDENT_INFO SI ON CAI.APPLY_CUST_ID = SI.ID
		INNER JOIN WORK_T_CLASSES_INFO CI ON CAI.APPLY_CLASSES_ID = CI.ID
		INNER JOIN
		WORK_T_SCHOOL_STAGE_INFO SSI ON CI.SCHOOL_GRADE_ID = SSI.ID
		INNER JOIN WORK_T_PARAM_INFO PI ON PI.ID = CI.GRADE_ID
		WHERE CAI.AUDIT_STATUS = '未处理'
	</select>
	<!-- 2017.0308 mybatis 测试条件 -->

	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from work_t_user_info
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		work_t_user_info
		where ID =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.zm.web.db.model.WorkTUserInfo">
		insert into work_t_user_info
		(ID, LOGIN_NAME,
		LOGIN_PASSWORD,
		ENABLE_STATUS,
		RECORD_STATUS,
		CREATE_USER,
		CREATE_DATE, LAST_UPDATE_USER,
		LAST_UPDATE_DATE,
		VERSION,
		ROLE_ID,
		SCHOOL_ID,
		USER_NAME, USER_EMAIL, MOBILE,
		USER_TYPE, MEMO)
		values
		(#{id,jdbcType=VARCHAR},
		#{loginName,jdbcType=VARCHAR},
		#{loginPassword,jdbcType=VARCHAR},
		#{enableStatus,jdbcType=VARCHAR},
		#{recordStatus,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR},
		#{lastUpdateDate,jdbcType=TIMESTAMP},
		#{version,jdbcType=DECIMAL},
		#{roleId,jdbcType=VARCHAR},
		#{schoolId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{userType,jdbcType=VARCHAR},
		#{memo,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zm.web.db.model.WorkTUserInfo">
		insert into work_t_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="loginName != null">
				LOGIN_NAME,
			</if>
			<if test="loginPassword != null">
				LOGIN_PASSWORD,
			</if>
			<if test="enableStatus != null">
				ENABLE_STATUS,
			</if>
			<if test="recordStatus != null">
				RECORD_STATUS,
			</if>
			<if test="createUser != null">
				CREATE_USER,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="lastUpdateUser != null">
				LAST_UPDATE_USER,
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE,
			</if>
			<if test="version != null">
				VERSION,
			</if>
			<if test="roleId != null">
				ROLE_ID,
			</if>
			<if test="schoolId != null">
				SCHOOL_ID,
			</if>
			<if test="userName != null">
				USER_NAME,
			</if>
			<if test="userEmail != null">
				USER_EMAIL,
			</if>
			<if test="mobile != null">
				MOBILE,
			</if>
			<if test="userType != null">
				USER_TYPE,
			</if>
			<if test="memo != null">
				MEMO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				#{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="enableStatus != null">
				#{enableStatus,jdbcType=VARCHAR},
			</if>
			<if test="recordStatus != null">
				#{recordStatus,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateUser != null">
				#{lastUpdateUser,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				#{schoolId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				#{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				#{userType,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				#{memo,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zm.web.db.model.WorkTUserInfo">
		update work_t_user_info
		<set>
			<if test="loginName != null">
				LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="enableStatus != null">
				ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
			</if>
			<if test="recordStatus != null">
				RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				CREATE_USER = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateUser != null">
				LAST_UPDATE_USER = #{lastUpdateUser,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=TIMESTAMP},
			</if>
			<if test="version != null">
				VERSION = #{version,jdbcType=DECIMAL},
			</if>
			<if test="roleId != null">
				ROLE_ID = #{roleId,jdbcType=VARCHAR},
			</if>
			<if test="schoolId != null">
				SCHOOL_ID = #{schoolId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userEmail != null">
				USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				MOBILE = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				USER_TYPE = #{userType,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				MEMO = #{memo,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zm.web.db.model.WorkTUserInfo">
		update
		work_t_user_info
		set LOGIN_NAME
		= #{loginName,jdbcType=VARCHAR},
		LOGIN_PASSWORD
		= #{loginPassword,jdbcType=VARCHAR},
		ENABLE_STATUS =
		#{enableStatus,jdbcType=VARCHAR},
		RECORD_STATUS
		=
		#{recordStatus,jdbcType=VARCHAR},
		CREATE_USER =
		#{createUser,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=TIMESTAMP},
		LAST_UPDATE_USER =
		#{lastUpdateUser,jdbcType=VARCHAR},
		LAST_UPDATE_DATE =
		#{lastUpdateDate,jdbcType=TIMESTAMP},
		VERSION
		=
		#{version,jdbcType=DECIMAL},
		ROLE_ID = #{roleId,jdbcType=VARCHAR},
		SCHOOL_ID =
		#{schoolId,jdbcType=VARCHAR},
		USER_NAME =
		#{userName,jdbcType=VARCHAR},
		USER_EMAIL =
		#{userEmail,jdbcType=VARCHAR},
		MOBILE =
		#{mobile,jdbcType=VARCHAR},
		USER_TYPE =
		#{userType,jdbcType=VARCHAR},
		MEMO =
		#{memo,jdbcType=LONGVARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zm.web.db.model.WorkTUserInfo">
		update
		work_t_user_info
		set LOGIN_NAME =
		#{loginName,jdbcType=VARCHAR},
		LOGIN_PASSWORD
		= #{loginPassword,jdbcType=VARCHAR},
		ENABLE_STATUS =
		#{enableStatus,jdbcType=VARCHAR},
		RECORD_STATUS
		=
		#{recordStatus,jdbcType=VARCHAR},
		CREATE_USER =
		#{createUser,jdbcType=VARCHAR},
		CREATE_DATE =
		#{createDate,jdbcType=TIMESTAMP},
		LAST_UPDATE_USER =
		#{lastUpdateUser,jdbcType=VARCHAR},
		LAST_UPDATE_DATE =
		#{lastUpdateDate,jdbcType=TIMESTAMP},
		VERSION
		=
		#{version,jdbcType=DECIMAL},
		ROLE_ID = #{roleId,jdbcType=VARCHAR},
		SCHOOL_ID =
		#{schoolId,jdbcType=VARCHAR},
		USER_NAME =
		#{userName,jdbcType=VARCHAR},
		USER_EMAIL =
		#{userEmail,jdbcType=VARCHAR},
		MOBILE =
		#{mobile,jdbcType=VARCHAR},
		USER_TYPE =
		#{userType,jdbcType=VARCHAR}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>
</mapper>